.alumnosT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.unAlumno {
    background-color: white;
    width: 500px;
    height: auto;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-left: 10%;
}

.unAlumno:hover {
    transition: all 0.3s ease-in-out;
    
}

.btnInfoAlumno {
    display: inline-block;
    padding: 10px 20px;
    color: black; /* Color del texto */
    text-align: center;
    text-decoration: none; /* Quita el subrayado */
    border-radius: 10px; /* Bordes redondeados */
    border: none; /* Sin borde */
    font-size: 75%;
    font-weight: bold;
    cursor: pointer; /* Hace que el cursor se convierta en mano al pasar */
    transition: background-color 0.3s ease; /* Animación suave en hover */
    margin: 10px;
    width: 100%;
    background-color: #f1f1f1;
}

.btnInfoAlumno:hover {
    background-color: #f19b26;
}

.verComprobante {
    display: inline-block;
    padding: 10px 20px;
    color: black; /* Color del texto */
    text-align: center;
    text-decoration: none; /* Quita el subrayado */
    border-radius: 10px; /* Bordes redondeados */
    border: none; /* Sin borde */
    font-size: 75%;
    font-weight: bold;
    cursor: pointer; /* Hace que el cursor se convierta en mano al pasar */
    transition: background-color 0.3s ease; /* Animación suave en hover */
    margin: 10px;
    width: 100%;
}

.verComprobante:hover {
    color: white;
    background-color: #04145a;
}